@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Root */
:root{


  /* Font Weight */
  --font-medium:500;
  --font-semi-bold:600;
  --font-bold:700;

  /* Colors */
  --first-color: rgb(53, 126, 228);
  --first-color-dark: rgb(41, 101, 185);
  --first-color-darken: rgb(21, 53, 98);
  --text-color: rgb(0, 0, 0);
  --first-color-light: rgb(104, 151, 218);
  --first-color-ligthen: rgb(153, 196, 255);

  /* Font and Typography */
  --body-font: 'poppins','sans-serif';
  --h1-font-size: 1.5rem;
  --h2-font-size:1.25rem;
  --h3-font-size:1rem;
  --normal-font-size:.938rem;
  --small-font-size:.813rem;
  --smaller-font-size:.75rem;

  
  /* Margins */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  /* z index */
  --z-fixed:100;
}

@media screen and (min-width:768px){
  :root{  
    --h1-font-size: 2.25rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --normal-font-size:1rem;
    --small-font-size:.875rem;
    --smaller-font-size:.813rem;
  }
}


  
/* BASE */
*,::before, ::after{
  box-sizing:border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  /* overflow: hidden; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-ligthen );
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,p{
  margin:0;
}
h3{
  font-weight: font var(--font-semi-bold);
}

ul{
 margin:0;
 padding: 0;
 list-style:none;
}




img{
  max-width: 100%;
  height: auto;
  display: block;
}

/* Class CSS */
.section{
  padding: 4rem 0 2rem;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle{
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: .25rem;
}

/* MAIN NAV BAR */


.navMain {
  top:0;
  display: flex;
  width: 100%;
  height: 60px;
  background: var(--first-color-darken);
}

.navName{
  display: flex;
  align-items: center;
  width: 300px;
  padding-left: 10px;
  color: white;
}

.link {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  text-decoration: none;
  color: white;
  align-items: center;
}

.link:not(h4):hover , .signup-btn:hover, .signin-btn:hover, .hunterLabel:hover, .signLink:hover{
  transition-duration: 0.2s;
  animation: ease-in-out;
  transform: scale(1.1);
  color: var(--first-color-light)
}



/* SIGNUP/SIGN IN */

.signUpBody{
  margin: 0;
  padding: 0 0 12px 0;
  font-family: var(--font-medium);
}
.signInBody{
  margin: 0;
  padding: 0 0 163px 0;
  font-family: var(--font-medium);
}

.signup-form , .signin-form{
  width: 40vw;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
  background: white;
  padding: 20px;
  margin: 7% auto 0;
  text-align: center;
  border-radius: 30px;
}

.signup-form h1, .signin-form h1{
  color: var(--first-color)
}

.input-wrapper input{
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 90%;
  border: 1px solid #999;
  outline: none
}

button{
  color: black;
  background-color:rgb(53, 126, 228);
  box-shadow: 0 0 3px rgba(0,0,0,0.7);
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.signup-img, .signin-img{
  width: 90px;
  margin-top: -60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  border-radius: 50%;
}

.hunterLabel{
  display:flex
}

.hunterLabel{
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.hunterInput{
  align-items: center;
  justify-content: center;
}

.link-switch{
  display: flex;
  justify-content: center;
}

.signLink{
  color: black 
}

/* ------------------------------------------------------------ */

/* UPDATE PROFILE PAGE */

.createProfileBody, .updateProfileBody{
  padding: 30px
}

h1{
  text-align: center;
  padding: 20px;
}

.updateProfile, .profileCreate{
  background: white;
  border-radius: 30px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  height: 80%;
}


.inputUpdate textarea{
  width: 90%;
  height: 100px;
  border-radius: 31px;
  border: 0.1px solid black;
  padding: 15px;
}

.updateProfile button, .profileCreate button{
  width: 225px !important;
  color: white
}

.deleteProfButton{
  background-color: red;
  color: white;
}



/*  PROFILE PAGE  */

.profileBody{
  line-height: 1.6;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.profileContainer{
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}


.profileNav{
  position: fixed;
  top: 60px;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 40px;
  background: var(--first-color-dark);
  opacity: 0.7;
}

.profileNav ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;

}

.profileNav ul li{
  margin: 0 1rem;
  padding: .5rem
}

.profileNav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.profileNav ul li a:hover{
  color: skyblue
}

.about{
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
}

.aboutForm{
  justify-content: flex-start;
  margin-left: 20px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 30px;
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.4);
  width: 600px;
  max-height: 500px;
}

.aboutItems{
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

section h1{
  font-size: 4rem;
}


.aboutForm img{
  width: 125px;
  border-radius: 50%;
  position: relative;
  top: -150px;
}

.profilePreview{
  padding: 30px;
}

.previewForm{
  width: 600px;
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.4);
  background: white;
  padding: 5px;
  border-radius: 30px;
  text-align: center;
}

.previewForm img{
  border-radius: 30px;
}

.projects{

  height: max-content;
  min-height: 100vh;
}

.projectsContainer{
  padding-top: 100px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px 0;
}

.projectItem{
  background-color: white;
  padding: 8px;
  border-radius: 20px;
  max-width: 300px;
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.4);
}

.projectItem h3{
  text-align: center;
}

.projectItem p{
  text-align: center;
}

.projectItem img{
  border-radius: 20px;
}

.about-card {
  text-align: left;
  position: relative;
  left: 50px;
}

.profileAbout {
position: relative;
bottom: 80px;
}

.update-prof {
  width:175px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color:rgb(41, 101, 185);
  position: relative;
  top: 50px;
  left: 10px;

}




/* Section Backgrounds */

section#about{
  background:var(--first-color-lighten)
}

section#projects{
  background: var(--first-color-light);
}
