body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://wallpaperaccess.com/full/3158925.jpg);
  background-size: 1500px;
}

.App {
  text-align: center;
}

/* SIGNUP/SIGN IN */

.signup-form , .signin-form{
  width: 35vw;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
  background: white;
  padding: 20px;
  margin: 9% auto 0;
  text-align: center;
  border-radius: 30px;
}

.signup-form h1, .signin-form h1{
  color:rgb(53, 126, 228)
}

.input-wrapper input{
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 90%;
  border: 1px solid #999;
  outline: none
}

button{
  color: black;
  background-color:rgb(53, 126, 228);
  box-shadow: 0 0 3px rgba(0,0,0,0.7);
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.signup-img, .signin-img{
  width: 90px;
  margin-top: -60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  border-radius: 50%;
}

/* ------------------------------------------------------------ */

/*  */