.FeedPage {
  margin-top: var(--mb-3);
  }

.FeedPageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 var(--mb-3) var(--mb-3) var(--mb-5);
}

.FeedPageSort {
  display: flex;
  flex-direction: row
}

.FeedPageSort h3{
  margin-right: var(--mb-3);
}

.FeedPageSortArrows:hover {
  transition-duration: 0.2s;
  animation: ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}

.FeedProfilesContainer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: var(--mb-5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  /* justify-content: space-evenly;
  gap: 60px 30px; */
}

/* Feed Profile Card */

.FeedProfileCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  max-width: 400px;
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.4);
  position: relative;
}

.FeedProfileCard:hover {
  transition-duration: 0.2s;
  animation: ease-in-out;
  transform: scale(1.05);
  cursor: pointer;
}

.FeedProfileCard h3{
  text-align: center;
  margin-top: var(--mb-1);
}

.FeedProfileCard img{
  border-radius: 20px 20px 0 0;
  min-width: 100%;
  max-height: 60%;
}

.FeedProfileRate {
  position: absolute;
  bottom: var(--mb-2);
  right: var(--mb-2)
}

.FeedProfileContact {
  margin-top: var(--mb-4);
  margin-left: var(--mb-2);
  margin-bottom: 4rem;
}

.FeedProfileContact h4,h5{
  margin: 0;
}
