.ViewProfilesBySkillPage {
  margin-top: var(--mb-3);
  }

.categories-link{
  margin-bottom: var(--mb-3);
}

/* Change to grid from flex */

.ViewProfilesBySkillContainer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: var(--mb-5);
  margin-left: var(--mb-5);
  margin-right: var(--mb-5);
  margin-top: 35px;
  margin-bottom: 35px;
}


.ProfileCard {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.4);
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.ProfileCard:hover {
  transition-duration: 0.2s;
  animation: ease-in-out;
  transform: scale(1.05);
  cursor: pointer;
}

.ProfileCard h4{
  text-align: center;
  margin: var(--mb-1) 0 var(--mb-3) 0;
}

.ProfileCard img{
  border-radius: 20px 20px 0 0;
  max-width: 100%;
  height:fit-content;
  object-fit: cover;
}

.ProfileRate {
  position: absolute;
  bottom: var(--mb-2);
  right: var(--mb-2)
}

.ProfileContact {
  margin-top: var(--mb-4);
  margin-left: var(--mb-2);
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.ProfileContact h5{
  margin: var(--mb-1);
}